export REPO_ROOT="$PWD"

export VIRTUAL_ENV="$REPO_ROOT/.venv-default"
path_add PATH "$REPO_ROOT/.devenv/bin" "$REPO_ROOT/bin" "$VIRTUAL_ENV/bin"
path_add PYTHONPATH "$REPO_ROOT"

export PYCACHEPREFIX="$REPO_ROOT/.cache/python"
