#!{{ interpreter }}
import json
import logging
import sys

logger = logging.getLogger(__name__)

def run(data):
    return data

def main():
    if sys.stdin.isatty() or sys.stdout.isatty():
        raise SystemExit("This script is intended to be invoked as a JSON pipe")

    req = json.load(sys.stdin)
    res = run(req)
    json.dump(res, sys.stdout)


if __name__ == '__main__':
    main()